/obj
*.dSYM
*.o
/abimangle
/pptoken
/posttoken
/ppexpr
/macro
/preproc
/recog
/lowir
/lowiropt
/lowir2native
/cppeh
/cpplink
/tmplsolve
/cppgm++
/cppgm++-telemetry-off
/cpptoolchain
/cpphostinterop
/cpphostcompat
/cppconstexpr
/cpptemplatecomplete
/lowir2ehobj
/lowir2obj
/ehlink
/objlink
/cppclasses
/cppvalue
/cppvirt
/cpptemplates
/cppmeta
/cpplangcore
/cpplangcomplete
/cppobjectcomplete
/cppmultivirt
/cpplowir
/cppcodegen
/cppcalls
/cpptypes
/cppast
/mobjroundtrip
/nsdecl
/nsinit
clang-template-student-metrics-plugin.dylib
clang-template-student-metrics-plugin.so
clang-sema-interpose-probe.dylib
clang-sema-interpose-probe.so
gcctmplmetrics.dylib
gcctmplmetrics.so
*.json
*-profile
*-debug
*-asan
*-fast
