cppgm++
cppgm++-debug
testout
.test_failed
tests/**/*.my
tests/**/*.my.*
tests/*.my
tests/*.my.*
tests/**/*.check*.exit_status
tests/*.check*.exit_status
tests/**/*.libdir/
tests/*.libdir/
tests/**/*.impl.link_command
tests/*.impl.link_command
tests/**/*.impl.link_verbose
tests/*.impl.link_verbose
tests/**/*.impl.unresolved_symbols
tests/*.impl.unresolved_symbols
tests/**/*.o
tests/*.o
tests/**/*.a
tests/*.a
tests/**/*.so
tests/*.so
tests/**/*.dylib
tests/*.dylib
*.dSYM
