cppgm++
cppgm++-debug
testout
tests/**/*.my
tests/**/*.my.*
tests/*.my
tests/*.my.*
tests/**/*.check*.exit_status
tests/*.check*.exit_status
tests/**/*.libdir/
tests/*.libdir/
tests/**/*.impl.link_command
tests/*.impl.link_command
tests/**/*.impl.link_verbose
tests/*.impl.link_verbose
tests/**/*.impl.unresolved_symbols
tests/*.impl.unresolved_symbols
tests/**/*.o
tests/*.o
tests/**/*.a
tests/*.a
tests/**/*.so
tests/*.so
tests/**/*.dylib
tests/*.dylib
tests/**/*.stdout
tests/*.stdout
!tests/**/*.ref.stdout
!tests/*.ref.stdout
!tests/**/*.ref.program.stdout
!tests/*.ref.program.stdout
tests/**/*.pp
tests/**/*.pp.*
tests/*.pp
tests/*.pp.*
*.dSYM
