lowir2native
lowir2native-debug
tests/**/*.my*
tests/**/*.my.cmir
tests/**/*.ref.program
tests/**/*.ref.impl.stdout
tests/**/*.ref.impl.stderr
tests/**/*.ref.program.stderr
testout
.test_failed
*.dSYM
